

$white: #fff;
$gray-100: #212529;
$gray-200: #2a3042;
$gray-300: #32394e;
$gray-400: #a6b0cf;
$gray-500: #bfc8e2;
$gray-600: #c3cbe4;
$gray-700: #f6f6f6;
$gray-800: #eff2f7;
$gray-900: #f8f9fa;
$black: #000;


// Font Weight
$font-weight-medium: 500;
$font-weight-semibold: 600;
// Horizontal nav
$topnav-bg: #282e3f;
$menu-item-color: #a6b0cf;
$menu-item-active-color: #556ee6;
// Topbar - Deafult Light
$header-height: 70px;
$header-bg: #262b3c;
$header-item-color: #a6b0cf;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);

$topnav-bg: #282e3f;

$grid-columns: 12;
$grid-gutter-width: 24px;

// Right Sidebar
$rightbar-width: 280px;

// Display
$display-none: block;
$display-block: none;
// Topbar Search
$topbar-search-bg: #2a3042;
$header-dark-bg: #556ee6;
$header-dark-item-color: #e9ecef;
$boxed-layout-width: 1300px;
$boxed-body-bg: #32394f;

$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$navbar-brand-box-width: 250px;
$footer-height: 60px;
$sidebar-dark-bg: #2a3042; //2c313a

$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #545a6d;
$sidebar-menu-item-icon-color: #7f8387;

// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-menu-item-color: #545a6d;
$sidebar-menu-sub-item-color: #545a6d;
$sidebar-menu-item-icon-color: #7f8387;
$sidebar-menu-item-hover-color: #556ee6;
$sidebar-menu-item-active-color: #556ee6;
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 160px;
// CBT Modal
$cbt-unfocused-text:#a9b0c8;
// Vertical Sidebar - Dark
$sidebar-dark-bg: #2a3042; //2c313a
$sidebar-dark-menu-item-color: #a6b0cf;
$sidebar-dark-menu-sub-item-color: #79829c;
$sidebar-dark-menu-item-icon-color: #6a7187;
$sidebar-dark-menu-item-hover-color: #ffffff;
$sidebar-dark-menu-item-active-color: #ffffff;
